node_modules/
platforms/
plugins/
build/
logs/
*.sublime-project
*.sublime-workspace
*.log
.deploy
.env
.env-app
.env-live
.history
.vscode/settings.json
app/js/mobiscroll.js
www/js/
www/css/
www/html/
www/index.html
app/typings
/extension
!/app/extension
app/scss/libraries.scss
app/scss/_variables.scss
app/ts/app.ts
app/ts/router.ts
extension.zip