ion-view.page-extensionSetup(view-title='Setup')
    ion-content
        .row.middle-xs
            .col-xs
                a.bubble(href='http://animadness.net/#/login' target='_blank')
                    span 1
                    i.icon.ion-log-in
            .col-xs.padding
                h4 Login to Animadness
                p Go to Animadness.net and login with a social network if you have not already
        .row.middle-xs
            .col-xs
                a.bubble(href='http://animadness.net/#/profile' target='_blank')
                    span 2
                    i.icon.ion-person
            .col-xs.padding
                h4 Go to Profile
                p Click here or click on the person icon at the top right of Animadness
        .row.middle-xs
            .col-xs
                .bubble
                    span 3
                    i.icon.ion-outlet
            .col-xs.padding
                h4 Connect Extension
                p Click on the connect extension button on the profile page

        